section.excellent-s
    .container
        .row.d-flex.justify-content-center
            .col-xl-5
                img.excellent-s__img(src="static/img/content/excellent-s-img.jpg")
            .col-10.col-sm-8.col-xl-7.justify-content-center.justify-content-md-start
                h3.excellent-s__title Excellent for Mobile Devices.
                p.excellent-s__text Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                ul.excellent-s__list
                    li.excellent-s__list-item Nam liber tempor cum soluta nobis eleifend option;
                    li.excellent-s__list-item Option congue nihil imperdiet doming id quod mazim placerat facer;
                    li.excellent-s__list-item Eodem modo typi, qui nunc nobis videntur parum futurum;
                    li.excellent-s__list-item Investigationes demonstraverunt lectores