footer.footer-s
    .container
        .d-flex.justify-content-center.justify-content-xl-between.flex-column.flex-xl-row
            .col-10.col-xl-5.d-flex.align-self-center.justify-content-center.justify-content-xl-start.flex-wrap
                p.footer-s__text Copyright © 2015
                    span  Waxom
                ul.footer-s__nav.d-flex
                    li.footer-s__nav-item
                        a.footer-s__nav-link(href="#") Privacy Policy
                    li.footer-s__nav-item
                        a.footer-s__nav-link(href="#") FAQ
                    li.footer-s__nav-item
                        a.footer-s__nav-link(href="#") Support
            .col-6.col-xl-4.d-flex.justify-content-between.align-self-center.flex-wrap
                p.footer-s__text Designed by
                    span  ThemeFire
                p.footer-s__text.line Only on
                    span  Envato Market