header.header-s
    .container.d-flex.justify-content-between
        a(href="/").header__logo.logo.d-flex
            svg.logo__img(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='64', height='56', viewBox='0 0 64 56')
                defs
                    path#sbdga(d='M407.854 59.904l-5.254-9.19h10.508zm-1.314.767h-10.508l5.254-9.191zm2.628 0l5.254-9.191 5.254 9.19zm10.508 1.53l-5.254 9.188-5.254-9.188zm-13.136 0l-5.254 9.188-5.254-9.188zm-11.822.766l5.253 9.187h-10.506zm21.02 9.187l5.252-9.187 5.253 9.187zm-2.63-22.97H402.6l5.254-9.19zm2.63 24.502h10.505l-5.253 9.188zm-26.273 0h10.506l-5.253 9.188zm-1.314.765l5.253 9.19h-10.507zm34.152 9.19l5.254-9.19 5.254 9.19zm10.508 1.53l-5.254 9.188-5.254-9.187zm-13.135 0l-5.254 9.188-5.254-9.187zm-36.779 0h10.507l-5.253 9.188zm-1.315.768l5.254 9.188H376.33zm26.272 0l5.254 9.188H402.6zm13.136 0l5.253 9.188h-10.505zm18.387 9.188h-10.504l5.252-9.188z')
                g
                    g(transform='translate(-376 -40)')
                        use(xlink:href='#sbdga')
                        use(xlink:href='#sbdga')
            p.logo__text Waxom
        nav.header-s__nav.nav#nav-menu
            a.header-s__menu-trigger(href='#') menu
            ul.nav__list.justify-content-between.align-items-center
                li.nav__item
                    a(href="#intro-s").nav__link Home
                li.nav__item
                    a(href="#services-s").nav__link About Us
                li.nav__item
                    a(href="#realization-s").nav__link Stats
                li.nav__item
                    a(href="#projects-s").nav__link Projects
                li.nav__item
                    a(href="#counter-s").nav__link Features
                li.nav__item
                    a(href="#partners-s").nav__link Partners
