section.intro-s#intro-s
    .intro-s__main-text
        h2.intro-s__subtitle Unique and Modern Design
        h1.intro-s__title Portfolio PSD Template
        p.intro-s__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        a.intro-s__button.button(href="#") Get Started
    .slick-slider
        .slick-slide
        .slick-slide
        .slick-slide
        .slick-slide
        .slick-slide.slick-slide--abstraction