section.partners-s#partners-s
    .container
        ul.row.partners-s__list.justify-content-center
            li.col-12.col-sm-6.col-md-3.partners-s__list-item.d-flex.align-items-center
                a.partners-s__link(href="#")
                    img.partners-s__img(src="static/img/content/partners-s-img-1.png")
            li.col-12.col-sm-6.col-md-3.partners-s__list-item.d-flex.align-items-center
                a.partners-s__link(href="#")
                    img.partners-s__img(src="static/img/content/partners-s-img-2.png")
            li.col-12.col-sm-6.col-md-3.partners-s__list-item.d-flex.align-items-center
                a.partners-s__link(href="#")
                    img.partners-s__img(src="static/img/content/partners-s-img-3.png")
            li.col-12.col-sm-6.col-md-3.partners-s__list-item.d-flex.align-items-center
                a.partners-s__link(href="#")
                    img.partners-s__img(src="static/img/content/partners-s-img-4.png")