section.projects-s#projects-s
    .container
        h3.common__title Our Latest Projects.
        p.common__subtitle Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        ul.projects-s__tab-title.tab-title.d-flex.justify-content-center.flex-wrap
            li.tab-title__item
                button.tab-title__link All
            li.tab-title__item
                button.tab-title__link Web Design
            li.tab-title__item
                button.tab-title__link Mobile App
            li.tab-title__item
                button.tab-title__link Illustration
            li.tab-title__item
                button.tab-title__link Photography
        ul.project-s__tab-content.tab-content
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-1.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(, xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-2.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-3.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-4.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-5.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-6.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-1.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(, xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-2.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-3.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-4.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-1.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(, xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-2.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-6.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-1.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(, xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-2.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-2.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Quam Nutamus Farum
                            p.tab-posts__tags Graphic Design, Mock-Up
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-3.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-4.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Claritas Etiam Processus
                            p.tab-posts__tags Photography, Nature
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
            li.tab-content__item
                ul.tab-posts.row.flex-wrap.justify-content-center.justify-content-sm-start
                    li.tab-posts__item.col-8.col-sm-6.col-md-4
                        .tab-posts__wrapper-img
                            img.tab-posts__img(src="static/img/content/tab-posts-img-6.jpg")
                        .tab-posts__header
                            h5.tab-posts__title Usus Legentis Videntur
                            p.tab-posts__tags Photography, Holiday
                        .tab-posts__wrapper
                            a.tab-posts__link(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='26', viewBox='0 0 26 26')
                                    defs
                                        path#ypcha(d='M943.5 2652.242l-1.927 1.928-3.187 3.189c-.153.17-.34.324-.511.46a6.24 6.24 0 0 1-6.153.904 6.035 6.035 0 0 1-2.08-1.364l2.642-2.644a2.447 2.447 0 0 0 3.46 0l2.028-2.029 3.085-3.087a2.447 2.447 0 1 0-3.46-3.462l-2.454 2.456a7.067 7.067 0 0 0-4.908-.376l4.72-4.724c2.404-2.404 6.341-2.404 8.744 0 2.42 2.421 2.42 6.344 0 8.749zm-7.654 7.607l-4.618 4.672c-2.403 2.406-6.34 2.406-8.744 0-2.403-2.404-2.403-6.344 0-8.747l5.113-5.118c.068-.068.154-.153.239-.222a6.191 6.191 0 0 1 6.426-1.141c.75.289 1.465.75 2.079 1.363l-2.642 2.645a2.446 2.446 0 0 0-3.46 0l-5.113 5.114a2.447 2.447 0 1 0 3.46 3.463l2.352-2.354c2.011.803 2.557.87 4.908.325z')
                                    g
                                        g(transform='translate(-920 -2641)')
                                            use(xlink:href='#ypcha')
                                            use(xlink:href='#ypcha')
                            a.tab-posts__icon(href="#")
                                svg.tab-posts__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26', height='25', viewBox='0 0 26 25')
                                    defs
                                        path#lyeca(d='M991.417 2648.847c.318.643.047 1.42-.607 1.734-.185.087-.381.13-.576.13-.487 0-.954-.267-1.182-.728a4.147 4.147 0 0 0-3.748-2.31c-.726 0-1.315-.579-1.315-1.296 0-.714.589-1.296 1.315-1.296 2.62 0 4.964 1.444 6.113 3.766zm8.04 16.324a1.647 1.647 0 0 1-1.164.474 1.65 1.65 0 0 1-1.163-.474l-4.335-4.27a11.218 11.218 0 0 1-6.836 2.317c-6.166 0-11.182-4.942-11.182-11.016s5.016-11.017 11.182-11.017 11.182 4.943 11.182 11.017c0 2.37-.77 4.562-2.068 6.361l4.383 4.318a1.602 1.602 0 0 1 0 2.29zm-13.497-4.544c2.104 0 4.03-.757 5.521-2.003.46-.385.874-.819 1.243-1.289a8.288 8.288 0 0 0 1.786-5.133c0-4.645-3.836-8.424-8.55-8.424-4.715 0-8.551 3.779-8.551 8.424s3.836 8.424 8.55 8.425z')
                                    g
                                        g(transform='translate(-974 -2641)')
                                            use(xlink:href='#lyeca')
                                            use(xlink:href='#lyeca')
        a.projects-s__button.button(href="#") Learn More