section.realization-s#realization-s
    .container.realization-s__container
        h3.common__title Waxom is Realization of your Ideas.
        p.common__subtitle Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .realization-s__wrapper.row
            img.realization-s__img.realization-s__img--left.col-8(src="static/img/content/realization-s--img-left.jpg")
            img.realization-s__img.realization-s__img--center.col-12.col-md-8(src="static/img/content/realization-s--img-center.jpg")
            img.realization-s__img.realization-s__img--right.col-8(src="static/img/content/realization-s--img-right.jpg")