doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="static/css/main.css")
        title Title
    body
        include ../partials/_mixins
        include ../components/_header
        include ../components/_intro-s
        include ../components/_services-s
        include ../components/_realization-s
        include ../components/_wordpress-theme-s
        include ../components/_projects-s
        include ../components/_counter-s
        include ../components/_excellent-s
        include ../components/_partners-s
        include ../components/_footer
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")